<div class="login-wrapper" fxLayout="row" fxLayoutAlign="center center">
  <mat-card class="box">
    <mat-card-header>
      <mat-card-title>Signup</mat-card-title>
    </mat-card-header>

    <form [formGroup]="signupForm" (ngSubmit)="onSubmit()">

      <mat-card-content>
        <mat-form-field class="fedex-full-width">
          <input matInput placeholder="Firstname" formControlName="firstName">
          <mat-error *ngIf="signupForm.controls.firstName.hasError('required')">
            This field is required!
          </mat-error>
        </mat-form-field>

        <mat-form-field class="fedex-full-width">
          <input matInput placeholder="Lastname" formControlName="lastName">
          <mat-error *ngIf="signupForm.controls.lastName.hasError('required')">
            This field is required!
          </mat-error>
        </mat-form-field>

        <mat-form-field class="fedex-full-width">
          <input matInput placeholder="Email" formControlName="email">
          <mat-error *ngIf="signupForm.controls.email.hasError('required')">
            This field is required!
          </mat-error>
          <mat-error *ngIf="signupForm.controls.email.hasError('validEmail')">
            This field not a valid email address!
          </mat-error>
        </mat-form-field>

        <mat-form-field class="fedex-full-width">
          <input matInput type="password" placeholder="Password" formControlName="password">
          <mat-error *ngIf="signupForm.controls.password.hasError('required')">
            This field is required!
          </mat-error>
          <mat-error *ngIf="signupForm.controls.password.hasError('minlength')">
            Password should be minimal of 8 characters!
          </mat-error>
          <mat-error *ngIf="signupForm.controls.password.hasError('noFirstNameLastName')">
            Password should not contain firstname or lastname!
          </mat-error>
        </mat-form-field>


      </mat-card-content>

      <button mat-stroked-button color="accent" class="btn-block">Register</button>

    </form>
  </mat-card>
</div>